.icon {
	display: inline-block;
}

.chosen {
    opacity: 0.6;
    background-color: red;
}

.icon-span {
	position: relative;	
}
a.claimed {
	position: absolute;
	left: 0;
	bottom: 0;
	font-weight: bold;
	color: #000;
	background-color: rgba(255, 255,255, .7)
}
a.claimed:hover {
	color: #666;
}